.super-mario {
    width: 120px;
    position: absolute;
  }
  
  .goomba {
    width: 100px;
    position: absolute;
    top: 270px;
  }
  
  .baloon {
    position: absolute;
    top: 100px;
    left: 300px;
    width: 200px;  
    z-index: 1;
  }
  
  .speach {
    font-size: 25px;
    width: 150px;
    position: absolute;
    top: 100px;
    left: 340px;
    z-index: 2;
  }
  
  .bowser {
    width: 200px;
    position: absolute;
    left: 500px;
    top: 200px;
  }